html,
body {
  overflow: hidden;
  height: 100vh;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--qq-color-text-secondary);
  text-decoration-line: underline;

  &:visited {
    color: var(--qq-color-element-brand);
  }
}
