:root {
  --qq-color-text-main: #f9f5f1;
  --qq-color-text-secondary: #e7d7c5;
  --qq-color-text-contrast: #382a1a;
  --qq-color-text-disabled: #c3c2beb0;

  --qq-color-bg-main: #7a6c5d;
  --qq-color-bg-secondary: #382a1a;
  --qq-color-bg-secondary-rgb: 56, 42, 26;
  --qq-color-bg-additional: #2c2d31;
  --qq-color-bg-additional-rgb: 44, 45, 49;
  --qq-color-bg-accent: rgba(0, 0, 0, 0.3);

  --qq-color-element-brand: #c39c6f;
  --qq-color-element-brand-darken: #63482c;
  --qq-color-element-brand-rgb: 195, 156, 111;
  --qq-color-element-brand-darken-rgb: 99, 72, 44;
  --qq-color-element-brand-secondary: #2a3d45;
  --qq-color-element-brand-secondary-light: #365059;
  --qq-color-element-brand-secondary-darken: #172226;
  --qq-color-element-success: #85b766;
  --qq-color-element-success-secondary: #7ea665;
  --qq-color-element-danger: #c93d2e;
  --qq-color-element-danger-secondary: #873422;
}
