:root {
  --qq-transition: 1s ease-in-out;
  --qq-rhytm: 4px;
  --qq-border-radius: 20px;
  --qq-box-shadow: 0px 0px 10px 0px;
}

$breakpoints: (
  xs: 0,
  sm: 430px,
  md: 840px,
  lg: 1024px,
  xl: 1280px
);

$z-index: (
  backdrop: 100,
  modal: 200,
  sidebar: 300,
  tooltip: 400,
  toaster: 500
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 600
);
