<div class="layout">
  <ng-container
    *ngIf="{
      selectedImage: selectedImage$ | async,
      currentImagePosition: currentImagePosition$ | async,
      isMobile: viewport.isMobileViewport$ | async
    } as data"
  >
    <div class="header">
      <div class="header__logo" routerLink="/">
        <div class="logo">
          <app-logo></app-logo>
        </div>
      </div>

      <div class="header__menu">
        <span
          class="menu__author"
          *ngIf="data.selectedImage as image"
          [ngStyle]="{ color: image | cache: getMenuTextColor:this }"
        >
          Photo by
          <a [href]="image | cache: getImageAuthorLink:this" target="_blank">{{ image.user.name }}</a>
          on
          <a [href]="unsplashLink" target="_blank">Unsplash</a>
        </span>
        <div class="menu__actions" [ngStyle]="{ color: data.selectedImage | cache: getMenuTextColor:this }">
          <a [routerLink]="appRoutePathEnum.ABOUT" class="action__item">
            <svg-icon key="info" fontSize="40px" *ngIf="data.isMobile"></svg-icon>
            <span *ngIf="!data.isMobile">About</span>
          </a>
          <a [routerLink]="appRoutePathEnum.CONTACT" class="action__item">
            <svg-icon key="contact" fontSize="40px" *ngIf="data.isMobile"></svg-icon>
            <span *ngIf="!data.isMobile">Contact us</span>
          </a>
        </div>
      </div>
    </div>

    <div class="layout__images" [ngStyle]="{ 'background-color': data.selectedImage?.color }">
      <ng-container *ngFor="let image of images$ | async; trackBy: 'id' | trackBy; let i = index">
        <div
          class="image"
          [class.image--active]="image.id === data.selectedImage?.id"
          [class.image--previous]="i < (data.currentImagePosition || 0)"
          [class.image--next]="i + 1 > (data.currentImagePosition || 0) + 1"
          [ngStyle]="{
            'background-image': 'url(' + image.urls.regular + ')',
            'box-shadow': 'inset 0px 40px 70px 10px' + image.color
          }"
        ></div>
      </ng-container>
    </div>
  </ng-container>

  <div class="layout__content">
    <router-outlet></router-outlet>
  </div>
</div>
