.basic-toast-wrapper {
  &--success {
    box-shadow: var(--qq-box-shadow) var(--qq-color-element-success);
  }

  &--info {
    box-shadow: var(--qq-box-shadow) var(--qq-color-element-brand-darken);
  }

  &--error {
    box-shadow: var(--qq-box-shadow) var(--qq-color-element-danger);
  }
}
