<app-sidebar-content>
  <app-sidebar-content-title> Settings </app-sidebar-content-title>

  <button class="qq-button qq-button__icon" appSidebarContentClose (click)="sidebarRef.close()">
    <svg-icon key="cancel"></svg-icon>
  </button>

  <app-sidebar-content-body>
    <div class="info">
      Here you can customize the application for yourself to&nbsp;make it&nbsp;as&nbsp;useful and convenient
      as&nbsp;possible.
    </div>

    <div class="menu" *ngIf="{ expanded: expandedItem$ | async } as data">
      <!-- Slideshow time -->
      <div class="item menu__item">
        <div
          class="header item__header"
          [class.header--expanded]="data.expanded === itemsEnum.SLIDESHOW"
          (click)="toggle(itemsEnum.SLIDESHOW)"
        >
          <svg-icon class="header__icon" key="play"></svg-icon>
          <span class="header__name">Slideshow time</span>
          <span class="header__value chip chip--selected">6s</span>
        </div>

        <div
          [@collapsible]="[itemsEnum.SLIDESHOW, data.expanded] | cache: getExpandedState:this"
          class="item__body item__body__view--3"
        >
          <ng-container *ngFor="let time of slideshowTimes">
            <div class="chip">{{ time }}s</div>
          </ng-container>
        </div>
      </div>

      <!-- Snapshot extension -->
      <div class="item menu__item">
        <div
          class="header item__header"
          [class.header--expanded]="data.expanded === itemsEnum.SNAPSHOT"
          (click)="toggle(itemsEnum.SNAPSHOT)"
        >
          <svg-icon class="header__icon" key="camera"></svg-icon>
          <span class="header__name">Snapshot extension</span>
          <span class="header__value chip chip--selected">JPEG</span>
        </div>

        <div [@collapsible]="[itemsEnum.SNAPSHOT, data.expanded] | cache: getExpandedState:this" class="item__body">
          Some body
        </div>
      </div>

      <!-- Quote topics -->
      <div class="item menu__item">
        <div
          class="header item__header"
          [class.header--expanded]="data.expanded === itemsEnum.QUOTE_TOPICS"
          (click)="toggle(itemsEnum.QUOTE_TOPICS)"
        >
          <svg-icon class="header__icon" key="quote"></svg-icon>
          <span class="header__name">Quote topics</span>
          <span class="header__value chip chip--selected">Inspirational, +3</span>
        </div>

        <div [@collapsible]="[itemsEnum.QUOTE_TOPICS, data.expanded] | cache: getExpandedState:this" class="item__body">
          Some body
        </div>
      </div>

      <!-- Photo topics -->
      <div class="item menu__item">
        <div
          class="header item__header"
          [class.header--expanded]="data.expanded === itemsEnum.PHOTO_TOPICS"
          (click)="toggle(itemsEnum.PHOTO_TOPICS)"
        >
          <svg-icon class="header__icon" key="camera"></svg-icon>
          <span class="header__name">Background photo</span>
          <span class="header__value chip chip--selected">Nature, +2</span>
        </div>

        <div [@collapsible]="[itemsEnum.PHOTO_TOPICS, data.expanded] | cache: getExpandedState:this" class="item__body">
          Some body
        </div>
      </div>
    </div>
  </app-sidebar-content-body>
</app-sidebar-content>
