@import 'styles/mixins/rhythm.mixin';
@import 'styles/mixins/media-query.mixin';
@import 'styles/core/typography';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--qq-color-bg-accent);
  border-radius: var(--qq-border-radius);
  box-shadow: var(--qq-box-shadow) var(--qq-color-element-brand);
  padding: rhythm(5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: rhythm(125);
  text-align: center;

  &__item {
    margin-bottom: rhythm(5);
    width: 100%;
  }
}

.title {
  @include qq-font-heading-1;
}

.description {
  @include qq-font-text-xl;
}

.contact-form {
  display: flex;
  flex-direction: column;

  &__control {
    width: 100%;
    margin-bottom: rhythm(3);
  }

  &__items-group {
    @include mediaQuery(sm) {
      display: flex;

      .contact-form__control {
        flex: 1;
      }

      .contact-form__control + .contact-form__control {
        margin-left: rhythm(3);
      }
    }
  }
}

.action {
  margin-bottom: rhythm(5);

  @include mediaQuery(xs, sm) {
    width: 100% !important;
  }
}

.info {
  color: var(--qq-color-text-secondary);
}
