<div>
  <h1>Contact us</h1>
  <p>
    We&nbsp;hope you enjoy the app and find it&nbsp;useful! If&nbsp;you have questions, problems or&nbsp;just want
    to&nbsp;thank&nbsp;us&nbsp;&mdash; write about it&nbsp;in&nbsp;the form below ;)
  </p>
  <form>
    <input type="text" placeholder="Name" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Subject" />
    <textarea placeholder="Message"></textarea>

    <button class="qq-button qq-button__view-1">Send</button>
  </form>
</div>
