@import 'styles/mixins/z-index.mixin';

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar-container {
  position: fixed;
  width: 100%;
  pointer-events: none;

  &__panel {
    position: absolute;
    @include z-index(sidebar);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    background-color: transparent;
    pointer-events: auto;

    &--right {
      right: 0;
      left: unset;
    }
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    @include z-index(backdrop);
    width: 100%;
    height: 100%;
    background: rgba(var(--qq-color-bg-secondary-rgb), 0.4);
    pointer-events: auto;
  }
}
