<app-page-wrapper [centerContent]="true">
  <app-page-wrapper-title> About </app-page-wrapper-title>

  <app-page-wrapper-description>
    <p>Quick Quote is&nbsp;a&nbsp;non-commercial project that aims to&nbsp;motivate, inspire and benefit people.</p>

    <p>
      We&nbsp;give you easy access to&nbsp;an&nbsp;almost endless list of&nbsp;significant quotes from more than
      30,000&nbsp;authors, scientists, celebrities, musicians, politicians, athletes and famous people from history.
    </p>

    <p>
      We&nbsp;will be&nbsp;happy if&nbsp;you discover quotes that will inspire you to&nbsp;new achievements, help you
      in&nbsp;difficult times or&nbsp;decorate any of&nbsp;your conversations.
    </p>

    <p class="quote">
      <span class="quote__text">&quot;Great men are they who see that thoughts rule the world.&quot;</span>
      <span class="quote__author"> Ralph Waldo Emerson </span>
    </p>
  </app-page-wrapper-description>
</app-page-wrapper>
