@import 'styles/mixins/rhythm.mixin';
@import 'styles/mixins/media-query.mixin';
@import 'styles/core/typography';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--qq-color-bg-accent);
  border-radius: var(--qq-border-radius);
  box-shadow: var(--qq-box-shadow) var(--qq-color-element-brand);
  padding: rhythm(5);

  &--centered {
    @include mediaQuery(md) {
      justify-content: center;
    }

    .content {
      height: auto;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: rhythm(125);
  text-align: center;

  &__item {
    margin-bottom: rhythm(5);
    width: 100%;
  }
}

.title {
  @include qq-font-heading-1;
}

.description {
  @include qq-font-text-xl;
}

.back-button {
  position: relative;
  align-self: start;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  @include qq-font-text-xl;
  text-decoration-line: none;
  padding: rhythm(1) rhythm(2);
  color: var(--qq-color-text-main);
  background-color: var(--qq-color-element-brand-secondary-light);
  transition: background-color 150ms ease-in-out;
  border-radius: var(--qq-border-radius);
  margin-bottom: rhythm(5);

  @include mediaQuery(sm) {
    position: absolute;
    top: rhythm(5);
    left: rhythm(5);
  }

  &:hover {
    background-color: var(--qq-color-element-brand-secondary);
  }
}
