<app-sidebar-content>
  <app-sidebar-content-title> Bookmarks </app-sidebar-content-title>

  <button class="qq-button qq-button__icon" appSidebarContentClose (click)="sidebarRef.close()">
    <svg-icon key="cancel"></svg-icon>
  </button>

  <app-sidebar-content-body>
    <!--TODO: make fade before and after quotes-->
    <div class="bookmarks">
      <ng-container *ngFor="let favourite of favourites$ | async; trackBy: 'id' | trackBy">
        <div class="bookmark" [@fadeOut]>
          <div class="quote bookmark__quote" (click)="selectQuote(favourite)">
            <span class="quote__content">{{ favourite.quote }}</span>
            <span class="quote__author">{{ favourite | cache: getAuthorInfo }}</span>
          </div>

          <button class="qq-button qq-button__icon bookmark__remove" (click)="remove(favourite.id)">
            <svg-icon key="bookmark-remove"></svg-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </app-sidebar-content-body>
</app-sidebar-content>
