<app-sidebar-content>
  <app-sidebar-content-title> Bookmarks </app-sidebar-content-title>

  <button class="qq-button qq-button__icon" appSidebarContentClose (click)="sidebarRef.close()">
    <svg-icon key="cancel"></svg-icon>
  </button>

  <app-sidebar-content-body>
    <!--TODO: make fade before and after quotes-->
    <div class="bookmarks">
      <ng-container *ngFor="let favourite of favourites$ | async">
        <div class="bookmark" (click)="selectQuote(favourite)">
          <span class="bookmark__quote">{{ favourite.quote }}</span>
          <span class="bookmark__author">{{ favourite | cache: getAuthorInfo }}</span>
        </div>
      </ng-container>
    </div>
  </app-sidebar-content-body>
</app-sidebar-content>
