@import 'styles/mixins/media-query.mixin';
@import 'styles/mixins/rhythm.mixin';

:host {
  display: block;
}

.bottom-bar {
  position: relative;
  height: rhythm(12);
  width: 100%;
  border-radius: var(--qq-border-radius);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(#{var(--qq-color-element-brand-rgb)}, 0.8);
  box-shadow: var(--qq-box-shadow) var(--qq-color-element-brand-darken);
  transition: height 0.1s ease-in-out;
  padding: 0 rhythm(2);

  @include mediaQuery(xs, sm) {
    padding: 0 rhythm(1);
  }

  &:hover,
  &--opened {
    height: rhythm(17);
  }
}
