<div class="quotes" [@flyInOut]="currentPosition">
  <!-- FIXME: Animation doesn't work properly using ng-container -->
  <ng-container *ngFor="let quote of quotes; let idx = index">
    <div *ngIf="idx === currentPosition" class="quotes__item">
      <div class="quote">
        <!--TODO: think about decoration-->
        <!-- <span class="quote__decoration">
          <svg-icon key="quote"></svg-icon>
        </span> -->
        <h1 class="quote__content">
          {{ quote.quote }}
        </h1>
        <span class="quote__author" *ngIf="quote | cache: getAuthorInfo:this as authoInfo">
          {{ authoInfo }}
        </span>

        <button
          *ngIf="!isSelectedFavourite; else favouriteBtn"
          class="qq-button qq-button__icon quote__bookmark"
          (click)="likeQuote.emit(quote)"
        >
          <svg-icon key="bookmark"></svg-icon>
        </button>
        <ng-template #favouriteBtn>
          <button class="qq-button qq-button__icon quote__bookmark" (click)="dislikeQuote.emit(quote.id)">
            <svg-icon key="bookmark-filled"></svg-icon>
          </button>
        </ng-template>

        <!-- <span class="quote__decoration">
          <svg-icon key="quote"></svg-icon>
        </span> -->
      </div>
    </div>
  </ng-container>
</div>
