<div class="quotes">
  <ng-container *ngFor="let quote of quotes; trackBy: 'id' | trackBy">
    <div *ngIf="quote.id === selectedQuote?.id" class="quotes__item">
      <div class="quote">
        <span class="quote__decoration"></span>
        <h1 class="quote__content">
          {{ quote.quote }}
        </h1>
        <span class="quote__author" *ngIf="quote | cache: getAuthorInfo:this as authoInfo">
          {{ authoInfo }}
        </span>
        <span class="quote__decoration"></span>
      </div>
    </div>
  </ng-container>
</div>
