<div class="container">
  <app-quote-list
    class="quotes"
    [selectedQuote]="selectedQuote$ | async"
    [quotes]="quotes$ | async"
    [currentPosition]="currentPosition$ | async"
    [isSelectedFavourite]="isSelectedFavourite$ | async"
    (likeQuote)="favouritesFacade.addFavourite($event)"
    (dislikeQuote)="favouritesFacade.removeFavourite($event)"
  ></app-quote-list>

  <ng-container *ngIf="{ opened: viewport.isMobileViewport$ | async } as data">
    <app-bottom-bar class="bottom-bar" [ngClass]="[skipHtmlToImageClass]" [opened]="data.opened">
      <app-bar-item-list *ngIf="isActionsState$ | async; else socialNetworksState" [opened]="data.opened">
        <button appBarItem (click)="switchBottomBarState('social')">
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="share"></svg-icon>
            <span appBarItemText>Share</span>
          </app-bar-item-content>
        </button>
        <!--TODO: add tooltip for safari-->
        <button
          appBarItem
          [disabled]="platform.SAFARI || (convertToImage | locked: this | async)"
          (click)="convertToImage()"
        >
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="camera"></svg-icon>
            <span appBarItemText>Capture</span>
          </app-bar-item-content>
        </button>
        <button appBarItem [disabled]="isPreviousQuoteDisabled$ | async" (click)="toPreviousQuote()">
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="previous"></svg-icon>
            <span appBarItemText>Previous</span>
          </app-bar-item-content>
        </button>
        <button appBarItem>
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="play"></svg-icon>
            <span appBarItemText>Play</span>
          </app-bar-item-content>
        </button>
        <button appBarItem [disabled]="toNextQuote | locked: this | async" (click)="toNextQuote()">
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="next"></svg-icon>
            <span appBarItemText>Next</span>
          </app-bar-item-content>
        </button>
        <button appBarItem>
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="bookmarks-collection"></svg-icon>
            <span appBarItemText>Bookmarks</span>
          </app-bar-item-content>
        </button>
        <button appBarItem>
          <app-bar-item-content>
            <svg-icon appBarItemIcon key="settings"></svg-icon>
            <span appBarItemText>Settings</span>
          </app-bar-item-content>
        </button>
      </app-bar-item-list>

      <ng-template #socialNetworksState>
        <app-social-networks
          [quote]="selectedQuote$ | async"
          [opened]="data.opened"
          (collapse)="switchBottomBarState('actions')"
        ></app-social-networks>
      </ng-template>
    </app-bottom-bar>
  </ng-container>
</div>
