<div class="container">
  <app-quote-list
    class="quotes"
    [selectedQuote]="selectedQuote$ | async"
    [quotes]="quotes$ | async"
    [currentPosition]="currentPosition$ | async"
  ></app-quote-list>

  <app-bottom-bar class="bottom-bar" [ngClass]="[skipHtmlToImageClass]" [opened]="viewport.isMobileViewport$ | async">
    <!--TODO: add tooltip for safari-->
    <button
      appBarItem
      [disabled]="platform.SAFARI || (convertToImage | locked: this | async)"
      (click)="convertToImage()"
    >
      <app-bar-item-content>
        <svg-icon appBarItemIcon key="camera"></svg-icon>
        <span appBarItemText>To image</span>
      </app-bar-item-content>
    </button>
    <button appBarItem [disabled]="isPreviousQuoteDisabled$ | async" (click)="toPreviousQuote()">
      <app-bar-item-content>
        <svg-icon appBarItemIcon key="previous"></svg-icon>
        <span appBarItemText>Previous</span>
      </app-bar-item-content>
    </button>
    <button appBarItem>
      <app-bar-item-content>
        <svg-icon appBarItemIcon key="bookmarks-collection"></svg-icon>
        <span appBarItemText>Bookmarks</span>
      </app-bar-item-content>
    </button>
    <button appBarItem [disabled]="toNextQuote | locked: this | async" (click)="toNextQuote()">
      <app-bar-item-content>
        <svg-icon appBarItemIcon key="next"></svg-icon>
        <span appBarItemText>Next</span>
      </app-bar-item-content>
    </button>
    <button appBarItem>
      <app-bar-item-content>
        <svg-icon appBarItemIcon key="share"></svg-icon>
        <span appBarItemText>Share</span>
      </app-bar-item-content>
    </button>
  </app-bottom-bar>
</div>
