// CORE
@import 'styles/core/normalize.scss';
@import 'styles/core/reset.scss';
@import 'styles/core/variables.scss';
@import 'styles/core/theme.scss';
@import 'styles/core/typography.scss';

// COMPONENTS
@import 'styles/components/svg-icon.scss';
@import 'app/shared/components/bar-item/bar-item.directive.scss';

html,
body {
  background-color: var(--qq-color-bg-main);
  color: var(--qq-color-text-main);
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
